datamanagement/core/.env 
.agentr/
hf_cache/
datamanagement/data/
datamanagement/config/__pycache__
*.pyc
collected_thread_urls.txt
thread_urls.json
threadmap.json
datamanagement/log
CAI_Webex.zip
CAI_Webex/
.vscode
test.ipynb
generation.py
test_initial_codes.py