langchain>=0.3.26
langchain-community>=0.3.27
langchain-core>=0.3.68
langchain-mongodb>=0.6.2
langchain-ollama>=0.3.4
langchain-tavily>=0.2.11
langgraph>=0.5.4
langgraph-checkpoint>=2.1.1
langgraph-checkpoint-mongodb>=0.1.4
langgraph-prebuilt>=0.5.2
langgraph-sdk>=0.1.74
langsmith>=0.4.5
fastapi>=0.116.1
pydantic>=2.11.7
pydantic-settings>=2.10.1
pydantic_core>=2.33.2
prometheus_client>=0.22.1
prompt_toolkit>=3.0.51
requests>=2.32.4
requests-toolbelt>=1.0.0
tavily-python>=0.7.10
webexteamssdk>=1.7
uvicorn>=0.35.0